@tailwind base;

@layer base {
    /* @font-face {
    font-family: 'Fugi';
    src: local('Fugi'), local('fugi'), url('/built-assets/fonts/fugi.ttf');
    font-weight: normal;
    font-display: swap;
  } */
}

@tailwind components;
@tailwind utilities;

.external\:show-preview-on-hover:hover + .external\:preview-container {
    @apply z-20;
}

.external\:show-preview-on-hover:hover
    + .external\:preview-container
    .external\:preview-backdrop {
    opacity: 1;
}

.external\:show-preview-on-hover:hover
    + .external\:preview-container
    .external\:preview-image {
    opacity: 1;
    @apply duration-500 ease-out;
}

.external\:delay-z-index-transition-on-unhover {
    z-index: 10;
    transition:
        background-color 200ms cubic-bezier(0, 0, 0.2, 1),
        z-index 0ms linear 200ms;
}

.external\:container-for-delay-z-index-transition-on-unhover:hover
    .external\:delay-z-index-transition-on-unhover {
    transition:
        background-color 200ms cubic-bezier(0, 0, 0.2, 1),
        z-index 0s linear 0ms;
}

/* .work-link:hover + .work-preview-image-container .work-preview-image {
    @apply !shadow-lg;
} */
